PyYAML>=6.0.1
rich>=13.0.0
ollama>=0.3.0
pydantic>=2.0
markitdown
epub2txt
aiofiles
google-genai
tenacity
chromadb
qdrant-client
langchain-text-splitters
marker-pdf==0.3.10
surya-ocr==0.6.13
transformers==4.41.2
torch